<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">


<web-app>
  <display-name>Mailchimp Signup</display-name>
  <servlet>
    <servlet-name>MailChimpSignup</servlet-name>
    <servlet-class>com.dalerrowney.SignupServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MailChimpSignup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
</web-app>
